@media all and (max-width: 1700px) {
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box {
    left: -80px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box {
    right: -80px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box {
    left: -80px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box {
    right: -80px;
  }
}
@media all and (max-width: 1600px) {
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .slide-view {
    width: 1098px;
    margin: 0 auto;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box {
    left: 0;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box {
    right: 0;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view {
    width: 1120px;
    margin: 0 auto;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box {
    left: 0;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box {
    right: 0;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .slide-view {
    width: 1120px;
    margin: 0 auto;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-prev-box {
    left: 0;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-next-box {
    right: 0;
  }
}
@media all and (max-width: 1400px) {
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view .slide-wrap.wrap3 .slide {
    width: auto;
  }
  #wrap #main #section6 .container .gap .wrap ul {
    flex-flow: row wrap;
    margin-left: 230px;
  }
  #wrap #main #section6 .container .gap .wrap ul li {
    width: 32%;
    margin: 10px;
  }
  #wrap #main #section6 .container .gap .wrap ul li:last-child {
    margin: 10px;
  }
  #wrap #main #section6 .container .gap .wrap ul li a {
    display: block;
  }
  #wrap #main #section6 .container .gap .wrap ul li a img {
    margin: 0 60px;
  }
}
@media all and (max-width: 1300px) {
  #wrap #header .bottom .container .gap .wrap #nav {
    display: none;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu {
    width: 100%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .slide-view {
    width: 843px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .slide-view .slide-wrap.wrap1 {
    margin-left: -200%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box {
    left: 2%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box {
    right: 2%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view {
    width: 820px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view .slide-wrap.wrap2 {
    margin-left: -240%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box {
    left: 2%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box {
    right: 2%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .slide-view {
    width: 840px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-prev-box {
    left: 2%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-next-box {
    right: 2%;
  }
}
@media all and (max-width: 1200px) {
  #wrap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .back-face .caption {
    padding: 35px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view .slide-wrap.wrap3 {
    flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view .slide-wrap.wrap3 .slide.slide4 {
    margin-top: 15px;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt {
    left: 35%;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt a p br {
    display: none;
  }
  #wrap #main #section5 .container .gap .wrap .center ul {
    padding: 60px 30px 30px 30px;
  }
  #wrap #main #section5 .container .gap .wrap .right ul {
    padding: 60px 30px 30px 30px;
  }
  #wrap #main #section5 .container .gap .wrap .right ul li p {
    margin-bottom: 22px;
  }
  #wrap #main #section6 .container .gap .wrap ul {
    flex-flow: row wrap;
    margin-left: 200px;
  }
  #wrap #main #section6 .container .gap .wrap ul li a {
    display: block;
  }
  #wrap #main #section6 .container .gap .wrap ul li a img {
    margin: 0 30px;
  }
}
@media all and (max-width: 1024px) {
  #wrap #header .bottom .container .gap .wrap .all-menu {
    width: 100%;
    background: rgb(255, 255, 255);
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul {
    width: 100%;
    flex-flow: row wrap;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li {
    width: 100%;
    border: 0;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li > a {
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    color: #303030;
    font-weight: 500;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li > a::after {
    content: "";
    display: none;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li .all-sub {
    width: 100%;
    display: none;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li .all-sub ul {
    width: 100%;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li .all-sub ul li {
    width: 100%;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li .all-sub ul li a {
    display: none;
    font-size: 17px;
    line-height: 40px;
    color: #6e6e6e;
    transition: all 0.3s ease-in-out;
  }
  #wrap #header .bottom .container .gap .wrap .all-menu > ul > li .all-sub ul li a:hover {
    color: #c40f39;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 3.57143vw;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption p {
    font-size: 11px;
  }
  #wrap #main #section2 .container .gap .wrap .content ul {
    flex-flow: row wrap;
  }
  #wrap #main #section2 .container .gap .wrap .content ul li {
    width: 50%;
    margin: 15px 0;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .slide-view {
    width: 562px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box {
    left: 5%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box {
    right: 8%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view {
    width: 562px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view .slide-wrap.wrap2 {
    margin-left: -250%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box {
    left: 5%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box {
    right: 8%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view {
    margin: 0 auto;
    width: 562px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view .slide-wrap.wrap3 .slide {
    margin: 10px 0;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .slide-view {
    width: 562px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-prev-box {
    left: 5%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-next-box {
    right: 8%;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt {
    left: 40%;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt a p br {
    display: none;
  }
  #wrap #main #section5 .container .gap .wrap .center ul li p {
    display: none;
  }
  #wrap #main #section5 .container .gap .wrap .right ul li p {
    display: none;
  }
  #wrap #main #section6 .container .gap .wrap ul {
    flex-flow: row wrap;
    margin-left: 170px;
  }
  #wrap #main #section6 .container .gap .wrap ul li a {
    display: inline-block;
  }
  #wrap #main #section6 .container .gap .wrap ul li a img {
    margin: 0 5px;
  }
  #wrap #footer .container .gap .wrap .bottom > ul {
    flex-flow: row wrap;
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .bottom > ul > li {
    width: 100%;
    margin: 20px 0;
  }
  #wrap #footer .container .gap .wrap .bottom > ul > li:first-child {
    width: 100%;
  }
  #wrap #footer .container .gap .wrap .bottom > ul > li:last-child {
    margin: 20px auto;
  }
}
@media all and (max-width: 768px) {
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .slide-view {
    width: 281px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box {
    left: 5%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box {
    right: 8%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view {
    width: 281px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view .slide-wrap.wrap2 {
    margin-left: -200%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box {
    left: 5%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box {
    right: 8%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view {
    width: 281px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .slide-view {
    width: 281px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .slide-view .slide-wrap.wrap4 .slide {
    width: auto;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-prev-box {
    left: 5%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-next-box {
    right: 8%;
  }
  #wrap #main #section5 .container .gap .wrap {
    flex-flow: row wrap;
  }
  #wrap #main #section5 .container .gap .wrap .left {
    width: 100%;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt {
    left: 26%;
  }
  #wrap #main #section5 .container .gap .wrap .center {
    width: 100%;
  }
  #wrap #main #section5 .container .gap .wrap .center ul {
    padding: 100px;
  }
  #wrap #main #section5 .container .gap .wrap .right {
    width: 100%;
    border: 0;
  }
  #wrap #main #section5 .container .gap .wrap .right ul {
    padding: 100px;
  }
  #wrap #main #section6 .container .gap .wrap ul {
    margin: 0 220px;
  }
  #wrap #main #section6 .container .gap .wrap ul li {
    width: 100%;
  }
  #wrap #main #section6 .container .gap .wrap ul li a {
    display: inline-block;
  }
}
@media all and (max-width: 480px) {
  #wrap #main #section2 .container .gap .wrap .content ul {
    flex-flow: row wrap;
  }
  #wrap #main #section2 .container .gap .wrap .content ul li {
    width: 100%;
    margin: 15px 0;
  }
  #wrap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .back-face .caption {
    padding: 80px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view {
    margin: 0 auto;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view .slide-wrap.wrap3 {
    flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container3 .slide-view .slide-wrap.wrap3 .slide {
    width: 100%;
    margin: 5px 0;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt {
    left: 42%;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt a h3 {
    font-size: 18px;
  }
  #wrap #main #section6 .container .gap .wrap ul {
    margin-left: 70px;
  }
  #wrap #main #section6 .container .gap .wrap ul li {
    width: 100%;
  }
  #wrap #main #section6 .container .gap .wrap ul li a {
    display: inline-block;
  }
  #wrap #footer .container .gap .wrap .top a {
    display: block;
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .top ul {
    top: 25px;
    left: 12%;
  }
  #wrap #footer .container .gap .wrap .top ul li a {
    display: block;
    text-align: center;
  }
}
@media all and (max-width: 390px) {
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .slide-view {
    width: 281px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box {
    width: 47px;
    height: 40px;
    margin-top: 515px;
    left: 30%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box a {
    display: block;
    color: #bcbcbc;
    border: 3px solid #bcbcbc;
    border-radius: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-prev-box a i {
    font-size: 40px;
    margin-left: 11px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box {
    width: 47px;
    height: 40px;
    margin-top: 515px;
    right: 35%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box a {
    display: block;
    color: #bcbcbc;
    border: 3px solid #bcbcbc;
    border-radius: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container1 .sec3-next-box a i {
    font-size: 40px;
    margin-left: 16px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .slide-view {
    width: 281px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box {
    width: 47px;
    height: 40px;
    margin-top: 515px;
    left: 30%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box a {
    display: block;
    color: #bcbcbc;
    border: 3px solid #bcbcbc;
    border-radius: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-prev-box a i {
    font-size: 40px;
    margin-left: 11px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box {
    width: 47px;
    height: 40px;
    margin-top: 515px;
    right: 35%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box a {
    display: block;
    color: #bcbcbc;
    border: 3px solid #bcbcbc;
    border-radius: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container2 .sec3-next-box a i {
    font-size: 40px;
    margin-left: 16px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .slide-view {
    width: 281px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-prev-box {
    width: 47px;
    height: 40px;
    margin-top: 515px;
    left: 30%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-prev-box a {
    display: block;
    color: #bcbcbc;
    border: 3px solid #bcbcbc;
    border-radius: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-prev-box a i {
    font-size: 40px;
    margin-left: 11px;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-next-box {
    width: 47px;
    height: 40px;
    margin-top: 515px;
    right: 35%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-next-box a {
    display: block;
    color: #bcbcbc;
    border: 3px solid #bcbcbc;
    border-radius: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .slide-container.container4 .sec3-next-box a i {
    font-size: 40px;
    margin-left: 16px;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt {
    left: 53%;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt a p {
    font-size: 12px;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li .txt a h3 {
    font-size: 15px;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li h5 {
    display: none;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li a h4 {
    font-size: 12px;
  }
  #wrap #main #section5 .container .gap .wrap .left .content ul li span {
    display: none;
  }
  #wrap #main #section6 .container .gap .wrap ul {
    margin-left: 25px;
  }
  #wrap #main #section6 .container .gap .wrap ul li {
    width: 100%;
  }
  #wrap #main #section6 .container .gap .wrap ul li a {
    display: inline-block;
  }
}